@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
}
._flex-box {
  display: flex;
  align-items: center;
}
._justify-content-space-between{
    justify-content: space-between;
}
._flex-one{
    flex: 1;
}
._p-10 {
  padding: 10px;
}
._p-15 {
  padding: 15px;
}
._p-20 {
  padding: 20px;
}
._card-Padding{
    padding: 12px 16px;
}
